<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Atechy Group, Dubai, UAE</div>
                                        <div class="h6 mt-0 title">Backend Developer (October 2021 - Present)</div>
                                        <p align="justify">Atechy Technologies use AI to shape the future of your business. They are leading experts in EdTech, FinTech and LegalTech. For your software, mobile and web development needs, Atechy Technologies has you covered!</p>
                                        <p align="justify">Worknig as Backend developer for the core team</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Software Development</li>
                                                        <li class="non_list">Mobile App Development</li>
                                                        <li class="non_list">Web Development</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Digital Marketing</li>
                                                        <li class="non_list">Fintech, Edtech and LegalTech</li>
                                                    </div>
                                                </div>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Agile</li>
                                                        <li class="non_list">NodeJs</li>
                                                        <li class="non_list">TypeScript</li>
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Blockchain (Web 3)</li>
                                                        <li class="non_list">Google Cloud / Firebase</li>
                                                        <li class="non_list">NestJs</li>
                                                        <li class="non_list">ExpressJs</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Academo, Dubai, UAE</div>
                                        <div class="h6 mt-0 title">Full Stack Developer (May 2021 - October 2021)</div>
                                        <p align="justify">Academo is an online training provider which educate your workforce with courses and degrees online from world-class universities and companies</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Angular</li>
                                                        <li class="non_list">Figma</li>
                                                        <li class="non_list">NodeJs</li>
                                                        <li class="non_list">Google Cloud / Firebase</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">ExpressJs</li>
                                                        <li class="non_list">Algolia</li>
                                                        <li class="non_list">HTML, CSS, Bootstrap</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa duotone fa-gears"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Freelance Web Developer, Yaounde, Cameroon</div>
                                        <div class="h6 mt-0 title">Freelance (January 2020 - May 2021)</div>
                                        <p align="justify">As a Freelance developer, I was responsible for the software development life cycle, I worked with many other Dev teams and companies.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Web Development</li>
                                                        <li class="non_list">Hosting and Maintenance</li>
                                                        <li class="non_list">Email Templating service</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Wordpress Development</li>
                                                        <li class="non_list">Migration</li>
                                                    </div>
                                                </div>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">PHP</li>
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">JQuery</li>
                                                        <li class="non_list">HTML, CSS, Bootstrap</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Wordpress</li>
                                                        <li class="non_list">Joomla</li>
                                                        <li class="non_list">Plesk, Cpanel</li>
                                                        <li class="non_list">FTP</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa duotone fa-car"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Prosygma Sarl, Douala, Cameroon</div>
                                        <div class="h6 mt-0 title">Internship Trainee (July 2020 - November 2020)</div>
                                        <p align="justify">PROSYGMA SARL is a high-tech company that provides you with web and mobile solutions such as: web hosting, e-recruitment solutions, e-marketing and complete wood traceability software.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Software Development</li>
                                                        <li class="non_list">Mobile App Development</li>
                                                        <li class="non_list">Web Development</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Digital Marketing</li>
                                                        <li class="non_list">Hosting</li>
                                                        <li class="non_list">e-recrutement, e-marketing</li>
                                                    </div>
                                                </div>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Waterfall Model</li>
                                                        <li class="non_list">PHP</li>
                                                        <li class="non_list">JavaScript</li>
                                                        <li class="non_list">HTML, CSS, Bootstrap</li>
                                                        <li class="non_list">SVN</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Ajax, JQuery</li>
                                                        <li class="non_list">MySQL</li>
                                                        <li class="non_list">Wordpress</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        