<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2019-2020</p>
                        <div class="h5">DIPLOMA</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Ministry of employment and professionl formation</div>
                            <h4 class="category">Diploma (IPE-MI)</h4>
                            <ul>
                                    <li>Completed  <b>Diploma</b> in <b>Computer Science</b> with <b>90%</b> aggregate.</li>
                                    <b>ranks 1st in my promotion</b>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2010-2013</p>
                        <div class="h5">Bachelor degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">University of Yaounde I (UYI)</div>
                                <h4 class="category">Bachelor's degree in Biolochemistry</h4>
                                <ul>
                                    <li> Completed with a Cummilative Grade Point Average(GPA) of <b>2.21/4,00 </b>aggregate.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">Secondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Secondary School(Yaounde, Cameroon)</div>
                                <h4 class="category">Lycee De Ngousso Ngoulmekong</h4>
                                <ul>
                                    <li>Baccalaureat in sciences, completed with <b>65.6%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               